.navbar {
  margin-top: 4.4rem;
}

.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.877); */
  background-color: #e7ecef;
  /* background-color: #f5f3f4; */

  
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 75px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
  top: 50px;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;


}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.877);
  clip-path: circle(120px at center);
  transition: 1s;
}

.card:hover .circle:before {
  /* background: rgb(82, 82, 82); */
  background: rgb(25, 110, 86);
  clip-path: circle(400px at center);
}

.card img {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 200px;
  width: 200px;
  pointer-events: none;
  transition: 1s;
  border-radius: 50%;
}

.card:hover img {
  left: 72%;
  height: 200px;
}

.card .content {
  position: relative;
  width: 50%;
  padding: 20px 20px 20px 40px;
  transition: 0, 5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}

.card .content h4 {
  color: #fff;
  text-align: center;
  font-family: "Lucida Sans";
}

.card .content button {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: black;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.card:hover .linkLkdn {
  display: flex;
  color: rgb(0, 113, 174);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
}

.card:hover .linkGthb {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
}

.card:hover .linkPortfolio {
  display: flex;
  color: rgb(46, 136, 94);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
}

@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }
  .card .img {
    transition: 1s;
  }
  .card:hover {
    height: 600px;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card:hover img {
    top: 30%;
    left: 50%;
    height: 300px;
  }
}

@media (max-width: 420px) {
  .card .content {
    padding: 20px;
  }
}
