.dashboardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4.4rem;
  padding-top: 5rem;
  width: 100%;
  justify-content: center;
  height: 40rem;
}

.dashboardImg {
  width: 3rem;
}

.cardUser {
  width: 10rem;
  height: 3rem;
}
