.filter-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Dosis", sans-serif;
  color: aliceblue;
  background-color: rgb(18, 19, 19);
  border: none;
  width: 6rem;
  border-radius: 3px;
  padding: 0 1rem;
  position: fixed;
  cursor: pointer;
}

.filter-img {
  width: 2.2rem;
}

.filter-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 10rem;
}

.shop-container {
  margin-top: 4.4rem;
}

