.filter-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Dosis", sans-serif;
  color: aliceblue;
  background-color: rgb(18, 19, 19);
  border: none;
  width: 6rem;
  height: 3rem;
  border-radius: 3px;
  padding: 0 1rem;
  position: fixed;
  cursor: pointer;
  box-shadow: rgba(15, 154, 103, 0.606) 5px 5px,
    rgba(27, 169, 126, 0.469) 10px 10px, rgba(36, 185, 101, 0.295) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px;
}

.filter-img {
  width: 2.2rem;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
}

.shop-container {
  margin-top: 4.4rem;
  padding-top: 0.5rem;
}

.shop-cards {
  display: flex;
}

.filterBox {
  padding-top: 4.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 23%;
  height: 100%;
  background: #979ea1;
  scroll-behavior: auto;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 100;
  transition: width 8ms linear 1s;
}
.filterBox::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.filterBox::-webkit-scrollbar-thumb {
  background-color: rgb(60, 67, 68); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.filterBox img {
  width: 4rem;
  cursor: pointer;
}
