.container {
  border: none;
  width: 100%;
  overflow: hidden;
  height: 450px;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  margin: auto;
  /* border: black solid; */
  border-left: none;
  position: relative;
}

.img {
  width: 90%;
  height: 250px;
  margin-bottom: 2rem;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.delete {
  position: absolute;
  margin-left: 85%;
  margin-top: -10px;
  border: none;
  color: gray;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}
.delete:hover {
  color: red;
}

.containerProduct {
  width: 200px;
  height: 300px;
}

.title {
  font-family: "Dosis", sans-serif;
  text-align: center;
  margin-bottom: 16px;
 height: 2rem;
}

.text {
  font-family: "Dosis", sans-serif;
}

.containerDescription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
}

.car {
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

.containerImg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 5px;
  cursor: pointer;
}
