.dropzone {
  display: flex;
  background-color: #34373F;
  width: 12rem;
  border-radius: 4px;
  justify-content: center;
  transition: all 0.4s ease;
}

.dropzone:hover {
  /* background-color: rgb(89, 86, 84); */
  cursor: pointer;
}

.gif-loading {
  width: 4.7rem;
  /* height: 4rem; */
  /* transition: all 0.1s ease; */
  background-color: #34373F;
}
.gif-loading:hover {
  background-color: #34373F;
}

.folder {
  width: 3rem;
}
