.cartContainer{
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", cursive;
  }
  
  .cart_list {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 14px 0px 0px 11px;
  -moz-border-radius: 34px 0px 0px 31px;
  -webkit-border-radius: 34px 0px 0px 31px;
    padding: 10px 10px 0 10px;
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: whitesmoke;
    z-index: 1000;
    overflow-y: auto;
  }

  .shopping_img{
    width: 25px;
    height: 25px;
    margin-right: 1.5rem;
    margin-bottom: 0.3rem;
  }  

  .product_img{
    width: 4rem;
    height: 4rem;
    margin-right: 8px;
  }

  .buttonCar{
    width: 8rem;
    height: 2.3rem;
    border-radius: 4px;
    border: none;
    background-color: black;
    margin-top: 3rem;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
    color: white;
    margin-bottom: 2rem;
  }
  .product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 233, 233);
    height: 5rem;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
    padding-left: 20px;
  }
  .containerCat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  .name{
    width: 100%;
    padding: 4px;
  }

  .containerTotal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

  }
  .price{
    font-size: 1.1rem;
    font-weight: bold;
  }
  .containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .cart_list::-webkit-scrollbar {
    -webkit-appearance: none;
}
.cart_list::-webkit-scrollbar:vertical {
    width: 10px;
}
.cart_list::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.titleCart{
  text-align: center;
  margin-bottom: 1rem;
}

.empty{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

