.cartContainer{
    display: flex;
    justify-content: center;
  }
  
  .cart_list {
    display: flex;
    width: 175px;
    height: 200px;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem;
    margin-top: 2.6rem;
    position: absolute;
    z-index: 100;
    background-color: whitesmoke;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .shopping_img{
    width: 25px;
    height: 25px;
    margin-right: 1.5rem;
    margin-bottom: 0.3rem;
  }  

  .product_img{
    width: 3rem;
  }