.footerContainer {
  margin: 0;
  height: 150px;
  background-color: #bdb19f;
  font-family: "Dosis", sans-serif;
}
.containerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.socialImg {
  height: 35px;
  width: 35px;
  margin: 1rem;
}
.redes{
  margin-left: 40px;
}

.textContainer {
  align-items: center;
}
.textContainer p {
  margin-bottom: 8px;

}

.logo {
  width: 5rem;
  margin-left: 30px;
}
