.icon {
  width: 25px;
  height: 25px;
  margin: 16px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.containerIcon {
  display: flex;
  justify-content: flex-end;
}

.productImg {
  width: 20rem;
}

.title {
  font-family: "Dosis", sans-serif;
}
.containerTitle {
  margin-left: 4rem;
  margin-top: -3rem;
  margin-bottom: 5rem;
}
.containerProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerImg {
  display: flex;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
  margin-left: 15rem;
  
}

.containerButtonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.containerDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -20rem;
  margin-top: 4rem;
}
.buttonAdd {
  width: 16rem;
  height: 2.3rem;
  border-radius: 4px;
  border: none;
  background-color: black;
  margin-top: 3rem;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  color: white;
}

.containerText {
  margin-left: -9rem;
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
}

.rating {
  display: flex;
}

.textDetail {
  font-weight: bold;
  display: flex;
  margin-right: 5px;
}

.back{
  margin-top: 2rem;
}

.containerUser{
  display: flex;
  flex-direction: column;
  margin-left: 13rem;
  margin-top: 2rem;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  background-color: #e2dcdc;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  padding-top: none;
}
.containerEmail{
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.imgUser{
  height: 2rem;
  width: 2rem;
}
.email{
  margin-left: 1rem;
}
.buttonQuestion{
  width: 6rem;
  height: 2.3rem;
  border-radius: 4px;
  border: none;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  color: rgb(124, 121, 121);
  background-color: transparent;
  margin-top: -1rem;
  font-size: 12px;
}
.containerQuestion{
  margin-left: 1rem;
}