.container {
  display: flex;
  font-family: "Dosis", sans-serif;
  top: 0;
  left: 0;
  color: aliceblue;
  /* height: 2rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
  height: 100%;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  /* gap: 3rem; */
}

.selectFilter {
  font-family: "Dosis", sans-serif;
  background-color: #d4dadd;
  width: 90%;
  /* height: 2rem; */
  font-size: 1rem;
  border: none;
}

.contentBox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  outline: none;
  padding: 2rem;
}

.miniColour {
  display: flex;
  align-items: center;
  width: 10rem;
  background-color: aliceblue;
  color: rgb(3, 24, 18);
  gap: 1rem;
  font-family: "Dosis", sans-serif;
  /* clip-path: circle(120px at center); */
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.miniColour span {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.selections {
  font-family: "Dosis", sans-serif;
  width: 5.1rem;
  height: 3rem;
}

.sizeSelections {
  font-family: "Dosis", sans-serif;
  width: 3.3rem;
  height: 3.3rem;
}
