.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPa {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.75);
  width: 60px;
  height: 35px;
  background-color: transparent;
  color: #4d4234;
  font-size: 16px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  margin: 8px;
}
