.navbar {
  margin-top: 4rem;

}
.container2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  
}
.h3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  padding-top: 4.5rem;

}
.conteiner{
}
.card {
  position: relative;
  width: 500px;
  height: 250px;
  margin: 20px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  transition: .8s;
  margin-top: 5rem;
  /* margin-left: 150%; */
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.card .front h3 {
  font-family: 'Dosis', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: top;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.877);
  text-align: center;
  font-size: 1.5rem;
  padding: .8rem;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(25, 110, 86);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  text-align: center;
  box-shadow: 0, 5px 10px #000;
}

.card .back h3 {
  font-family: 'Dosis', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}























/* .fullcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
  padding-top: 4.5rem;
}
.container{
position: relative;
width: 500px;
height: 150px;
margin-left: 10%; 
margin-bottom: 3%;
background-color: #84a98c;
transform: rotate(360deg); */
/* -webkit-animation: flip-2-ver-right-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
/* animation: flip-2-ver-right-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
/* background-color: aquamarine;   */

/* }
.flecha{
  width: 10px;
  height:10px;
}

.title{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.card:hover .title {
  transform: perspective(600px) rotateY(180deg);
}

.text{
  transform: perspective(600px) rotateY(180deg);
  background: black;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0, 5px 10px #000;
}
.card:hover .text {
  transform: perspective(600px) rotateY(360deg);
} */


/* ----------------------------------------------
 * Generated by Animista on 2023-2-7 22:21:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-right-bck
 * ----------------------------------------
 */
 /* @-webkit-keyframes flip-2-ver-right-bck {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-260px) rotateY(360deg);
            transform: translateX(100%) translateZ(-260px) rotateY(360deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes flip-2-ver-right-bck {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 200% 50%;
            transform-origin: 200% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-160px) rotateY(360deg);
            transform: translateX(100%) translateZ(-160px) rotateY(360deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
} */




